In [1]:
# Operating system: MacOS 13.0
import pandas as pd
import numpy as np

In [2]:
import csv

with open('travel_data.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile, delimiter='|'))

print(data)

[['travel_description', 'travel_date', 'section_order', 'city_from', 'city_to', 'section_distance_km', 'section_time_min', 'section_avg_speed_km_h', 'travel_avg_speed_km_h', 'travel_total_distance_km', 'driver_name', 'other_passengers'], ['Podróż z Poznania do Warszawy przez Łódź', '01/12/2020', '1', 'Poznań', 'Łódź', '218', '146', '89.59', '83.1', '349', 'Piotr Żyła', 'Krzysztof Ibisz,Edyta Górniak'], ['Podróż z Poznania do Warszawy przez Łódź', '01/12/2020', '2', 'Łódź', 'Warszawa', '131', '106', '74.15', '83.1', '349', 'Piotr Żyła', 'Krzysztof Ibisz'], ['Podróż z Wrocławia do Rzeszowa z przystankami', '12/12/2020', '1', 'Wrocław', 'Katowice', '195', '130', '90', '87.92', '444', 'Adam Nowak', 'Anna Kowalska,Jarosław Jakimowicz'], ['Podróż z Wrocławia do Rzeszowa z przystankami', '12/12/2020', '2', 'Katowice', 'Kraków', '79', '64', '74.06', '87.92', '444', 'Adam Nowak', 'Anna Kowalska,Jarosław Jakimowicz,Edyta Górniak'], ['Podróż z Wrocławia do Rzeszowa z przystankami', '12/12/2020', '3', 'Kraków', 'Rzeszów', '170', '109', '93.58', '87.92', '444', 'Adam Nowak', 'Edyta Górniak'], ['Podróż z Warszawy do Katowic - stajemy też w Łodzi', '08/12/2020', '1', 'Warszawa', 'Łódź', '131', '92', '85.43', '76.7', '418', 'Edyta Górniak', 'Jarosław Jakimowicz,Adam Nowak'], ['Podróż z Warszawy do Katowic - stajemy też w Łodzi', '08/12/2020', '2', 'Łódź', 'Katowice', '287', '235', '73.28', '76.7', '418', 'Edyta Górniak', 'Jarosław Jakimowicz']]

In [3]:
data_columns = data[0]

In [4]:
data_columns

['travel_description',
 'travel_date',
 'section_order',
 'city_from',
 'city_to',
 'section_distance_km',
 'section_time_min',
 'section_avg_speed_km_h',
 'travel_avg_speed_km_h',
 'travel_total_distance_km',
 'driver_name',
 'other_passengers']

In [5]:
data_content = data[1:]

In [6]:
df = pd.DataFrame(data_content, columns = data_columns)

df

,travel_description,travel_date,section_order,city_from,city_to,section_distance_km,section_time_min,section_avg_speed_km_h,travel_avg_speed_km_h,travel_total_distance_km,driver_name,other_passengers
0,Podróż z Poznania do Warszawy przez Łódź,01/12/2020,1,Poznań,Łódź,218,146,89.59,83.1,349,Piotr Żyła,"Krzysztof Ibisz,Edyta Górniak"
1,Podróż z Poznania do Warszawy przez Łódź,01/12/2020,2,Łódź,Warszawa,131,106,74.15,83.1,349,Piotr Żyła,Krzysztof Ibisz
2,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,1,Wrocław,Katowice,195,130,90,87.92,444,Adam Nowak,"Anna Kowalska,Jarosław Jakimowicz"
3,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,2,Katowice,Kraków,79,64,74.06,87.92,444,Adam Nowak,"Anna Kowalska,Jarosław Jakimowicz,Edyta Górniak"
4,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,3,Kraków,Rzeszów,170,109,93.58,87.92,444,Adam Nowak,Edyta Górniak
5,Podróż z Warszawy do Katowic - stajemy też w Ł...,08/12/2020,1,Warszawa,Łódź,131,92,85.43,76.7,418,Edyta Górniak,"Jarosław Jakimowicz,Adam Nowak"
6,Podróż z Warszawy do Katowic - stajemy też w Ł...,08/12/2020,2,Łódź,Katowice,287,235,73.28,76.7,418,Edyta Górniak,Jarosław Jakimowicz

In [7]:
# Entities: Travels, Cities, Drivers, Passengers, Sections(?)

# Data slicing

In [25]:
df_travels = df.loc[:, ["travel_description", "travel_date", "travel_avg_speed_km_h", "travel_total_distance_km"]]
# "travel_date"
df_travels["travel_id"] = df.index + 1

In [26]:
cols = list(df_travels.columns)
cols = [cols[-1]] + cols[:-1]
df_travels = df_travels[cols]
df_travels

,travel_id,travel_description,travel_date,travel_avg_speed_km_h,travel_total_distance_km
0,1,Podróż z Poznania do Warszawy przez Łódź,01/12/2020,83.1,349
1,2,Podróż z Poznania do Warszawy przez Łódź,01/12/2020,83.1,349
2,3,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,87.92,444
3,4,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,87.92,444
4,5,Podróż z Wrocławia do Rzeszowa z przystankami,12/12/2020,87.92,444
5,6,Podróż z Warszawy do Katowic - stajemy też w Ł...,08/12/2020,76.7,418
6,7,Podróż z Warszawy do Katowic - stajemy też w Ł...,08/12/2020,76.7,418

# Cities: select distinct from 2 columns

In [37]:
a_df=df.drop_duplicates(['city_from'])[['city_from']]

In [38]:
a_df

  city_from
0    Poznań
1      Łódź
2   Wrocław
3  Katowice
4    Kraków
5  Warszawa

# Schemas:

In [31]:
travels_schema = """
travel_id INT PRIMARY KEY NOT NULL,
travel_description VARCHAR,
travel_date DATE,
travel_avg_speed_km_h FLOAT,
travel_total_distance_km FLOAT
"""

# SQL methods

In [13]:
import psycopg2
import os
from datetime import datetime

In [14]:
def run_syntax(db_connection: psycopg2, syntax: str) -> None:
    """
    Run syntax.
    :param db_connection: Database connection object.
    :param syntax: Syntax for execution.
    """
    cur = db_connection.cursor()
    cur.execute(syntax)
    cur.close()

In [15]:
def create_table(schema: str, table: str) -> None:
    """
    Create a table in the DB based on a schema.
    :param schema: The table schema.
    :param schema: The schema.
    :param table: The name of the table.
    """
    db_connection = psycopg2.connect(
        host="ec2-52-31-70-136.eu-west-1.compute.amazonaws.com",
        user="fodrsjfllnljnm",
        password="60fb3f606b8de4e7d39a8efb6d48931a7123418d5fcfb0e27d74957ded438c25",
        dbname="dbphbgo6dthk7q",
    )

    # Create table if it does not yet exist
    run_syntax(db_connection=db_connection, syntax=f"CREATE TABLE IF NOT EXISTS {table}({schema})")

    db_connection.commit()
    db_connection.close()

In [16]:
def populate_table(table_name: str, df: pd.DataFrame) -> None:
    """
    Populate a table in the database from a pandas dataframe.
    :param table_name: The name of the table in the DB that we will add the values in df to.
    :param df: The dataframe that we use for puplating the table.
    """
    db_connection = psycopg2.connect(
        host="ec2-52-31-70-136.eu-west-1.compute.amazonaws.com",
        user="fodrsjfllnljnm",
        password="60fb3f606b8de4e7d39a8efb6d48931a7123418d5fcfb0e27d74957ded438c25",
        dbname="dbphbgo6dthk7q",
    )

    # Check that all columns are present in the CSV file
    cur = db_connection.cursor()
    cur.execute(f"SELECT * FROM {table_name} LIMIT 0")
    cur.close()

    col_names = [i[0] for i in cur.description]
    df["row_timestamp"] = [datetime.now().strftime("%m-%d-%Y %H:%M:%S")] * len(df.index)

    missing_columns = set(col_names).difference(df.columns)
    assert not missing_columns, f"The following columns are missing in your CSV file: {','.join(missing_columns)}"

    # Re-order CSV
    df = df[col_names]

    # Inject data
    for index, row in df.iterrows():
        run_syntax(db_connection=db_connection, syntax=f"INSERT INTO {table_name} VALUES{tuple(row.values)}")
    db_connection.commit()
    db_connection.close()

In [17]:
def drop_table(table_name: str) -> None:
    """
    Populate a table in the database from a pandas dataframe.
    :param table_name: The name of the table in the DB that we will add the values in df to.
    :param df: The dataframe that we use for puplating the table.
    """
    db_connection = psycopg2.connect(
        host="ec2-52-31-70-136.eu-west-1.compute.amazonaws.com",
        user="fodrsjfllnljnm",
        password="60fb3f606b8de4e7d39a8efb6d48931a7123418d5fcfb0e27d74957ded438c25",
        dbname="dbphbgo6dthk7q",
    )
    
    cur = db_connection.cursor()
    cur.execute(f"DROP TABLE {table_name}")
    cur.close()
    
    db_connection.commit()
    db_connection.close()

In [32]:
create_table(table="Travels", schema=travels_schema)

In [33]:
populate_table(table_name="Travels", df=df_travels)

In [ ]:
drop_table(table_name = "Travels")